<!-- Header -->
<a name="about"></a>
<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>{{title}}</h1>
          <h3>Life Coach</h3>
          <hr class="intro-divider">
          <!--<form (ngSubmit)="processForm()" *ngIf="submitted">-->
          <form class="form-inline" action="#" method="post" accept-charset="UTF-8">
            <!--<div class="form-group" [ngClass]="{ 'has-error': name.invalid && name.touched }">-->
              <input name="firstbane" type="text" class="form-control" style="color: black" name="name" required [(ngModel)]="gest.name" #name="ngModel" placeholder="NAME">
              <input name="email" type="email" class="form-control" style="color: black" id="inpEmail" required value
                     placeholder="EMAIL">
              <input type="submit" name="submit-button button" value="Get It Now" class="btn btn-default"
                     id="btnSubmit">
            <!--</div>-->
          </form>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->
